@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Roboto&display=swap');
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto'; 
}
.container{
  margin-top: 40px;
}
.card{
    border-radius: 3px;
    box-shadow: 0px 1px 3px;
    margin-top: 20px;
    
}
oducts-row .card .card-body{
    background-color: white;
}
.products-row .col-lg-4{
    margin-bottom: 35px;
}
.products-row .card .card-text{
    color: rgba(0, 0, 0, 0.645);
    font-size: 16px;
    align-items: center;
}
#readmore{
    text-decoration: none;
    font-weight: bold;
    color: rgb(13, 180, 13);
    font-size: 12.5px;
}
#footer{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.474);
    font-size: 13px;
    padding: 14px;
}
.logo{
  display: flex;
  
  align-items: center;
  margin-top: -15px;
  gap: 20px;
}
.logo span{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}
#nav-logo{
  margin-top: 10px;
  width: 60px;
  height: 57px;
}

#navItm{
  color: rgb(23, 173, 40);
  text-decoration: none;
}
#navItm:hover{
  text-decoration:  5px solid underline;
}
nav{
  margin-top: 10px;
  margin-bottom: 7px;
  border-bottom: 3px solid #eeeeee;  
  border-radius: 10px;
}
nav .nav-items{
  display: flex;
  justify-content: center;
}

nav a{
  text-decoration: none;
  color: rgb(2, 6, 2);
  margin-left: 37px;
}
nav a.active{
  text-decoration: underline 4px;
  font-weight: 800;
  font-size: 18px;
  color: green;
}
nav .nav-logo{
    display: flex;
    justify-content: left;
    width: 5rem;
    height: 4rem;
    margin-bottom: -20px;
    margin-top: 4px;
    padding-left: 18px;
  }